body {
  font-family: 'Manrope', sans-serif;
    width: 100%;
    background-color: white;
    padding: 125px;
  
    
}
.container{
 margin: 0 auto;
   width: 1400px; 
   background: #FFFFFF;
   letter-spacing: -0.6px;
}
.interior {
  margin-top: 30px;
  padding-top: 379px;
  padding-left: 40px;
  height: 500px;  
  width: 1150px;
  background-image:url('interior.jpg') ;
  }

.image-text {
width: 430px;
font-weight: 400; 
font-size: 20px;
line-height: 27px;
letter-spacing: -0.6px;
color: #FFFFFF;
}
h1{
   font-size: 60px;
  font-weight: 400;
  line-height: 60px;
  text-align: left;
  letter-spacing: -0.6px;
}
h2{
 
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: -0.03em;
  text-align: left;
  }
  p.description{ 
margin-top: 30px;  
font-size: 45px;
font-weight: 400;
line-height: 61px;
text-align: left;
letter-spacing: 4px;
}
a{
  background: #AD1818;
  display: inline-block;
  margin-top: 30px;
  padding: 20px 40px;
  color: #FFFFFF;
  text-decoration: none;
  border-radius: 5px;

}
